

body {
    position: relative;
    font-family: 'Raleway', sans-serif;
   
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(100, 100, 100, 0.4)
 }

 .modal {
    width: 375px;
    margin: 15% auto auto;
    position: relative;
    text-align: center;
    background: #fff;
    border: 1px solid #778;
    border-radius: 5px;
    padding: 30px 20px;
  }

  .modal-close {
    position: absolute;
    right: 15px;
    top: 5px;
    cursor: pointer;
  }
    
    

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  
}

.avatar {
    width: 80px;
    height: 80px;
    border-radius: 70%;
    margin-top: 13px;
}

.card {
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    justify-content: space-around;
    margin: 0 auto;
    border: 1px solid #000;   
    border-radius: 3%;
    margin: 10px;
    width: 90%;
   
  }

.text-container {
    text-align: center;
}



.hidden {
    display: none;
}


@media (min-width: 768px) {
    .body {
        width: 45%;
        min-width: 330px;
        margin-bottom: 15px;
    }


}


@media (min-width: 1024px) {
    body {
        max-width: 1400px;
        margin: 0 auto;
    }
    
    .card {
        width: 30%;
    }
}